# macOS
.DS_Store

# Node modules
/node_modules/

# Env files
.env

# Jest coverage reports
/coverage/

# TypeScript build info
*.tsbuildinfo

# Build output (tuỳ project)
/dist/
/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

